<!DOCTYPE html>
<html lang="en">
    <%- include("templates/head")%>
<body>
  <%- include("templates/nav") %>
    <div class="container p-5">
        <h1>Crear Carrito </h1>   
        <br>
        <form action="/api/carrito" method="POST">
            <button type="submit" class="btn btn-primary">Crear Carrito</button>
          </form>
    </div>
</body>
</html>