<ul class="nav nav-pills nav-fill bg-dark text-white p-2">
    <li class="nav-item" >
      <a class="nav-link text-white" href="/api/productos">Ingreso de Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/api/productos/main">Vista de Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/api/carrito">Crear Carrito</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="/api/carrito/carritos">Carritos Creados</a>
    </li>
</ul>