<div class="container p-5">
        <font size="6">
        <td><strong  style="color:hsl(240, 100%, 50%)">Login de usuario</strong></td>
        </font><br><br>
        <form action="/login" method="POST">
            <div class="mb-4">
        <font size="5"> 
        <td><i>Ingrese su nombre </i></td>
        </font>
              <input 
                type="text" 
                name="nombrelog"
                class="form-control" 
                id="" 
                aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text"></div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
    </div>
