html 
    head 
        title= "Productos"
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    body 
        br
        h1(style ="margin:10px 50px")= "No se encontraron Productos"

            div 
                br

                a(href="http://localhost:8080/productos" class="btn btn-success") Cargar un nuevo Producto
                