<!DOCTYPE html>
<html lang="en">
    <%- include("templates/head")%>
<body>
    <%- include("templates/nav") %>
    <div class="container p-5 ">
        <h1>El carrito creado posee</h1>
        <br>
        <h2> Id = <%=data.idcarr%> </h2>

    </div>
</body>
</html>