<div class="container p-5">
        <font size="7">
        <td><strong  style="color:hsl(120, 82%, 18%)">USER ERROR REGISTRO</strong></td>
        <button onClick="window.location.href='http://localhost:8080/singup';" type="submit" class="btn btn-primary">Volver</button></td><br>

 
    </div>