<div class="container p-5">
  <font size="6">
    <td><strong style="color:hsl(240, 100%, 50%)">Login de usuario</strong></td>
  </font><br><br>
  <form action="/login" method="POST">
    <div class="mb-4">
      <font size="5">
        <td><i>Ingrese su Nombre </i></td>
      </font>
      <input type="text" name="username" class="form-control" id="" aria-describedby="emailHelp"
        placeholder="Mail/Usuario">
      <div id="emailHelp" class="form-text"></div>
      <font size="5">
        <td><i>Ingrese su Password </i></td>
      </font>
      <input type="text" name="password" class="form-control" id="" aria-describedby="emailHelp" placeholder="Password">
      <div id="emailHelp" class="form-text"></div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button><br> <br>
  </form>
    <button onClick="window.location.href='http://localhost:8080/singup';" type="submit" class="btn btn-primary">Ir a Registro</button></td>
</div>