<div class="container p-5">
        <font size="7">
        <td><strong  style="color:hsl(120, 82%, 18%)">Hasta luego {{usuario}}</strong></td>
        <script>
            setTimeout(()=>{
                window.location.href = "http://localhost:8080/singup";
            },3000);
        </script>
 
    </div>
